* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Times New Roman", Times, serif;
}
h1 {
  font-size: 20px;
}

.hidden {
    display: none; 
  }

  .card{
    margin: inherit;
    display: inline-grid;
    height: auto;
    width: 14%;
    background-color: #0077b6;
    color: white;
  }
  .forecastContainer{
    display: flex;
    justify-content: space-around;
  }
  #saved-city{
    display: grid;
  }

  #current-condition{
border: solid 1px; 
height: 200px; 
  }