* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Times New Roman", Times, serif;
}
h1 {
  font-size: 20px;
}

/* .hidden {
    display: none; 
  } */

  .card{
    margin: inherit;
    display: inline-grid;
    height: auto;
    width: 14%;
    background-color: #0077b6;
  }
  #forecast{
    display: flex;
    justify-content: space-between;
  }